.mini_loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #F96737;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1.5s linear infinite;
}


  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#visualization_wrap {

    padding-bottom: 80%;
    height: 0;
    overflow:hidden;
}

.balanceamentoEstoqueChart-chart {
    top:0; 
    left:0; 
    width: 100%; 
    height:320px;
}

.pln-tooltip-chart{
    background-color:black;
    color:aliceblue;
    border-radius: 5px;
}

.pln-tooltip-chart-bold {
    font-weight: bold;
}

.pln-tooltip-chart-hr {
    border-bottom: 1px solid #686868;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.pln-tooltip-chart-sin {
    height: 15px;
}

.pln-tooltip-chart-max {
    color: #FFBCA6;
}

.pln-tooltip-chart-min {
    color: #FF9C9C;
}

.pln-tooltip-chart-in {
    color: #B6CCA5;
}

.pln-tooltip-chart-out {
    color: #FF9C9C;
}

.pln-tooltip-chart-sug {
    color: #B8DDE6;
}

.pln-tooltip-chart-apv {
    color: #B7CDA7;
}

.pln-modal-info{
    min-width: 100%;
    margin: 0 auto;
}

.pln-box-excesso{
    background-color: #d7d7d7;
    border-radius: 6px;
}

.pln-infosku-links {
    margin-left: 5px;
    font-size: 12px;
}

.pln-box-balanceamento-estoque{
    padding: 0;
    margin-bottom: 0;
}

.pln-h-100{
    height: 100%;
}
.pln-input-date,
.pln-input-date:focus{
    position: relative;
    width: 160px;
    color: #3e4b5b;
    border: 2px solid #CED4DA;
    border-radius: .25rem;
    font-size: 14px;
}

.interval {
    display: none !important;
}
.pln-input-date::-webkit-calendar-picker-indicator{
    color: transparent;
    background: none;
    z-index: 1;
    cursor: pointer;
}
.pln-input-date:after {
    position: absolute;
    display: block;
    font-family: 'Font Awesome 5 Free';
    content: '\f073';
    width: 15px;
    height: 20px;
    top: 3px;
    right: 6px;
    color: #30A5BF;
}

div.google-visualization-tooltip {
    border-radius: 5px !important;
    background-color: black;
}

/*corrige bug no tooltip do google charts*/
svg > g:last-child > g:last-child { pointer-events: none !important}
div.google-visualization-tooltip { pointer-events: none !important}
/**/
div.google-visualization-tooltip > ul > li > span {
    color: #fff !important;
}

#modal_info .modal-body, #modal_info .modal-header {
    background-color: #eaebef;
}

#modal_info .modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 0px solid #e9ecef;
    top: 0px;
}

.pln-div-header {
    max-width: 650px;
}

/*SOBRESCREVENDO CSS DA TAB DO TEMPLATE*/
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover, .nav-tabs .nav-item:hover .nav-link{
    color: #fff;
    background-color: #292c39;
    border-color: #dee2e6 #dee2e6 transparent;
    position: relative;
}

.nav-tabs .nav-link:after, .nav-tabs .nav-item .nav-link:after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #ef3011;
    position: absolute;
    bottom: -2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nav-tabs .nav-item {
    margin-bottom: 0px;
    margin-right: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav-tabs .nav-link {
    border: none;
    color: #fff;
}

.w-100{
    width: 100%;
}

.pln-select-table-size{
     max-width: 170px;
     min-width: 170px;
 }
/*FIM SOBRESCREVENDO CSS DA TAB DO TEMPLATE*/

/* INÍCIO DA ABA INFORMAÇÕES */

.pln-borderless {
    border: none !important;
}

.pln-infos-title {
    font-size: 15px !important;
}

.pln-infos-heavy-title {
    font-size: 15px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

.pln-blue-th {
    color: #30A6AE;
    text-transform: capitalize !important;
    font-size: 13px !important;
}

.pln-padding-top-0 {
    padding-top: 0 !important;
}

.pln-padding-bottom-0 {
    padding-bottom: 0 !important;
}

.pln-scroll-div {
    overflow-y: auto !important;
    max-height: 300px !important;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 400px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.pln-children-table-th {
    background-color: white !important;
}

/* FIM DA ABA INFORMAÇÕES */

/* STYLE DO DATEPICKER */
div.ui-datepicker-header
a.ui-datepicker-prev,div.ui-datepicker-header
a.ui-datepicker-next
{
    display: none;
}

div.ui-datepicker{
    font-size:10px;
}

div.right-align {
    padding-right: 18px;
    position: absolute;
    right: 0px;
}

.prev-compras-label-footer{
    text-align: right;
    margin: 0 auto;
    width: 90%;
}

#out6-value {
    font-weight: normal;
}
.modal-fixed-div{
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    background-color: #eaebef;
}
.fixed-info{
    top: 32px;
}
.fixed-tabs{
    top: 105px;
}
.info-sku-log-table thead th{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #FFF;
    color: #000;
}
.control-size-table-modal::-webkit-scrollbar {
    width: 10px;
}
.h-33 {
    height: calc(33.3333% - 40px);
}
