body .daterangepicker {
    min-width: 0;
    z-index: 9999 !important;
}


#tableSku{
    border-spacing:0;
}

#formulario {
    margin: 0;
}

.all-wrapper table.sku-table,
.all-wrapper table.info-sku-log-table {
    border-collapse: initial !important;
}

/*******fixando thead, tfoot e primeira coluna com css puro*******/

.sku-table thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #FFF;
    color: #000;
  }

  .sku-table tfoot th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    bottom: 0;
    background: #FFF;
    color: #000;
  }

  .sku-table thead th, 
  .sku-table tfoot th{
    z-index: 2;
  }
  /*******FIM fixando thead, tfoot e primeira coluna com css puro*******/

/*remove a borda das duas primeiras colunas da ultima tr para não ficar por cima do footer*/
#tableSku tbody tr:nth-last-child(1) td:nth-child(1), table tbody tr:nth-last-child(1) td:nth-child(2){
    border-bottom: 0;
}

table.sku-table,
.dataTable.info-sku-log-table {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

table.sku-table tfoot th, table.sku-table tfoot td {
    border-top: 0;
}

#tableSku tr th:nth-child(1), #tableSku tr th:nth-child(2) {
    width: 20px;
}

table .singledate {
    width: 94px;
}

.pln-column-obs {
    min-width: 300px;
}

.pln-text-red {
    color: #FF0000;
}

.pln-width-sinalizator {
    width: 18px;
}

.pln-background-red{
    background-color: #FF0000;
}
