.btn-selected-week{
    background-color: #49bade !important;
}

#formulario {
    margin: 0;
}
.all-wrapper table.calendar-table {
    border-collapse: initial !important;
}

/*remove a borda das duas primeiras colunas da ultima tr para não ficar por cima do footer*/
.object_table tbody tr:nth-last-child(1) td:nth-child(1), table tbody tr:nth-last-child(1) td:nth-child(2){
    border-bottom: 0;
}

table.object_table {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

table.object-table tfoot th, table.object-table tfoot td {
    border-top: 0;
}

.object_table tr th:nth-child(1), .object_table tr th:nth-child(2) {
    width: 200px;
}

.pln-min-w-100{
    min-width: 100px;
}

.pln-min-w-200{
    min-width: 200px;
}

.pln-politic{
    color: #30a5bf;
    font-weight: bold;
}
.calendar-table thead th,
.calendar-table tfoot th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #FFF;
    color: #000;
}
.content-full-table #controlSize {
    max-height: calc(100vh - 225px);
    overflow-x: hidden;
}