/*******fixando thead, tfoot e primeira coluna com css puro*******/
.resume-table thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #FFF;
    color: #000;
}

.resume-table tfoot th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    bottom: 0;
    background: #FFF;
    color: #000;
}

/*******FIM fixando thead, tfoot e primeira coluna com css puro*******/
body .daterangepicker {
    min-width: 0;
    z-index: 9999 !important;
}

#formulario {
    margin: 0;
}

.all-wrapper table.object_table {
    border-collapse: initial !important;
}

/*remove a borda das duas primeiras colunas da ultima tr para não ficar por cima do footer*/
.object_table tbody tr:nth-last-child(1) td:nth-child(1), table tbody tr:nth-last-child(1) td:nth-child(2){
    border-bottom: 0;
}

table.object_table {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

table.object_table tfoot th, table.object_table tfoot td {
    border-top: 0;
}

.object_table tr th:nth-child(1), #object_table tr th:nth-child(2) {
    width: 20px;
}

.pln-min-w-100{
    min-width: 100px;
}

.pln-min-w-200{
    min-width: 200px;
}