/*******fixando thead, tfoot e primeira coluna com css puro*******/
.approval-table thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #FFF;
    color: #000;
}

.approval-table tfoot th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    bottom: 0;
    background: #FFF;
    color: #000;
}
.content-full-table #controlSize {
    max-height: calc(100vh - 240px);
}
/*******FIM fixando thead, tfoot e primeira coluna com css puro*******/

.align-text-right {
    text-align: right;
}

.modal-box{
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
}

#modal_duplicate .modal-body, #modal_duplicate .modal-header {
    background-color: #eaebef;
}

#modal_duplicate {
    overflow-y: auto;
}

#modal_duplicate .modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 0px solid #e9ecef;
}

.pln-modal-info{
    min-width: 100%;
    margin: 0 auto;
}

.pln-input-80{
    width: 80px;
}

.pln-input-170{
    width: 155px;
}
table.approval-table{
    margin: 0 !important;
}