.pln-groupable-bluepoint {
  width: 10px;
  height: 10px;
  background-color: #34CDD7;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: 9px;
}


.pln-custom-tooltip .pln-tooltip .pln-groupable-tooltip {
  z-index: 20 !important;
  position: absolute;
  background-color: #FFFFFF;  
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: auto;
  min-width: 270px;  
  left: 0;
  bottom: -50px;
  padding: 10px;
}

.pln-el-maxw-100{
    max-width: 100px !important;
}

body .daterangepicker {
    min-width: 0;
    z-index: 9999 !important;
}

#tableSug tbody td{
  padding: 1px 10px;
}

.suggest-table{
    border-spacing:0;
}

#formulario {
    margin: 0;
}

.all-wrapper table.suggest-table {
    border-collapse: initial !important;
}

::-webkit-calendar-picker-indicator {
    margin: 0;
    transition: all ease 0.8s;
}

::-webkit-calendar-picker-indicator:hover {
    opacity: 0.5;
}

/*******fixando thead, tfoot e primeira coluna com css puro*******/


  .suggest-table thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #FFF;
    color: #000;
  }

  .suggest-table tfoot th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    bottom: 0;
    background: #FFF;
    color: #000;
  }

  /*fixa a PRIMEIRA coluna da tabela do lado esquerdo*/
  .suggest-table tbody td:nth-child(1) {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    z-index: 1;
    background: #FFF;
    opacity: 1;
    width: 1px;
  }

  /*fixa a SEGUNDA coluna da tabela do lado esquerdo*/
  .suggest-table tbody td:nth-child(2) {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 47px;
    z-index: 1;
    background: #FFF;
    opacity: 1;
    width: 1px;
  }

  .suggest-table thead th:nth-child(1), .suggest-table tfoot th:nth-child(1) {
    left: 0;
    z-index: 3;
  }

  .suggest-table thead th:nth-child(2){
    left: 47px;
    z-index: 3;
  }

  .suggest-table thead th, .suggest-table tfoot th {
    z-index: 2;
  }
  /*******FIM fixando thead, tfoot e primeira coluna com css puro*******/

table.suggest-table, #tableManualSug {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

table.suggest-table tfoot th, table.suggest-table tfoot td {
    border-top: 0;
}

table .singledate {
    width: 120px;
}

.suggest-table .singledate::-webkit-clear-button
{
    display: none;
    -webkit-appearance: none;
}

.pln-text-red {
    color: #FF0000;
}

.pln-width-sinalizator {
    width: 18px;
}

.pln-background-red{
    background-color: #FF0000;
}

/******* Customizando Checkbox *******/
.pln-container-checkbox{
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20px;
  margin: auto;
}

.pln-container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.pln-orange-checkbox{
  position: absolute;
  top: -10px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 3px solid #f96737;
  background-color: #fff;
  border-radius: 4px;
}

.pln-container-checkbox input:checked ~ .pln-orange-checkbox {
  background-color: #f96737;
}

.pln-orange-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.pln-container-checkbox input:checked ~ .pln-orange-checkbox:after {
  display: block;
}

.pln-container-checkbox .pln-orange-checkbox:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/******* Fim Customizando Checkbox *******/

/* REMOVE CIMA BAIXO DE INPUT DATE DT ALT CHEGADA */
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
