/*******fixando thead, tfoot e primeira coluna com css puro*******/

.approval-table thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #FFF;
    color: #000;
  }

  .approval-table tfoot th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    bottom: 0;
    background: #FFF;
    color: #000;
  }

  
  /*******FIM fixando thead, tfoot e primeira coluna com css puro*******/


body .daterangepicker {
    min-width: 0;
    z-index: 9999 !important;
}

#formulario {
    margin: 0;
}

.all-wrapper table.approval-table {
    border-collapse: initial !important;
}


table.approval-table {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

table .singledate {
    width: 94px;
}

.pln-column-obs {
    min-width: 300px;
}

.pln-text-red {
    color: #FF0000;
}

.pln-width-sinalizator {
    width: 18px;
}

.pln-background-red{
    background-color: #FF0000;
}

.total-parc {
    cursor: pointer;
    text-decoration-line: underline !important;
}