.datepicker{
    pointer-events: none;
}

#formulario {
    margin: 0;
}

.all-wrapper table.policy-table {
    border-collapse: initial !important;
}

/*remove a borda das duas primeiras colunas da ultima tr para não ficar por cima do footer*/
.object_table tbody tr:nth-last-child(1) td:nth-child(1), table tbody tr:nth-last-child(1) td:nth-child(2){
    border-bottom: 0;
}

table.object_table {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

table.object-table tfoot th, table.object-table tfoot td {
    border-top: 0;
}

.object_table tr th:nth-child(1), .object_table tr th:nth-child(2) {
    width: 20px;
}

.pln-min-w-100{
    min-width: 100px;
}

.pln-min-w-200{
    min-width: 200px;
}

.pln-politic{
    color: #30a5bf;
    font-weight: bold;
}

#modal_politic .modal-body, #modal_politic .modal-header {
    background-color: #eaebef;
}

#modal_politic .modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 0px solid #e9ecef;
}
.policy-table thead th,
.policy-table tfoot th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #FFF;
    color: #000;
}
.content-full-table #controlSize {
    max-height: calc(100vh - 225px);
}