/*******fixando thead, tfoot e primeira coluna com css puro*******/
.ordercover-table thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #FFF;
    color: #000;
}

.ordercover-table tfoot th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    bottom: 0;
    background: #FFF;
    color: #000;
}
  /*******FIM fixando thead, tfoot e primeira coluna com css puro*******/

body .daterangepicker {
    min-width: 0;
    z-index: 9999 !important;
}

#formulario {
    margin: 0;
}

.all-wrapper table.ordercover-table {
    border-collapse: initial !important;
}

table.ordercover-table {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

table .singledate {
    width: 150px;
}

.pln-column-obs {
    min-width: 300px;
}

.pln-text-red {
    color: #FF0000;
}

.pln-width-sinalizator {
    width: 18px;
}

.pln-background-red{
    background-color: #FF0000;
}

.pln-invalid-row{
    background-color: #f8d7da !important;
}

.pln-min-w-100{
    min-width: 100px;
}

.pln-min-w-200{
    min-width: 200px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 10px;
}

.qtd_alterado {
    width: 100px;
}

/* REMOVE CIMA BAIXO DE INPUT DATE DT ALT CHEGADA */
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-clear-button {
    display: none;
}