/*******fixando thead, tfoot e primeira coluna com css puro*******/
.purchaseorder-table thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #FFF;
    color: #000;
  }

  .purchaseorder-table tfoot th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    bottom: 0;
    background: #FFF;
    color: #000;
  }
  /*******FIM fixando thead, tfoot e primeira coluna com css puro*******/

body .daterangepicker {
    min-width: 0;
    z-index: 9999 !important;
}

#formulario {
    margin: 0;
}

.all-wrapper table.purchaseorder-table {
    border-collapse: initial !important;
}

/*remove a borda das duas primeiras colunas da ultima tr para não ficar por cima do footer*/
/*#tablePurchaseOrder tbody tr:nth-last-child(1) td:nth-child(1), table tbody tr:nth-last-child(1) td:nth-child(2){
    border-bottom: 0;
}*/

table.purchaseorder-table {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


table .singledate {
    width: 94px;
}


.pln-column-obs {
    min-width: 300px;
}

.pln-text-red {
    color: #FF0000;
}

.pln-width-sinalizator {
    width: 18px;
}

.pln-background-red{
    background-color: #FF0000;
}

.pln-invalid-row{
    background-color: #f8d7da !important;
}

.pln-invalid-field{
    border: 1px solid #ff0000 !important;
}

.pln-min-w-100{
    min-width: 100px;
}

.pln-min-w-200{
    min-width: 200px;
}