.font-weight-bold{
    font-weight: 700 !important;
    font-size: medium;
}

.pln-bold{
    font-weight: bold;
}

.balance_estoque{
    font-size: 11px;
}

.balance_estoque tr{
    border: 1px solid #fff;
}

.balance_estoque_max{
    background-color: #F96737; width: 11px;
}

.balance_estoque_ideal{
    background-color: #66BD2B;
}

.balance_estoque_min{
    background-color: #F32938;
}

.pln-minimo{
    text-transform: uppercase;
    color: #F32938; 
}

.pln-ideal{
    text-transform: uppercase;
    color: #66BD2B; 
}

.pln-excesso{
    text-transform: uppercase;
    color: #F96737; 
}

.pln-analise-geral-excesso{
    background-color: #F96737; 
    color: #fff; height: 33%;    
    padding: 10px;
}

.pln-analise-geral-total-disp{
    background-color: #292C39; 
    color: #fff; height: 34%;
    padding: 10px;
}

.pln-analise-geral-nivel-servico{
    background-color: #fff; 
    color: #000; height: 33%;
    padding: 10px;
}

.pln-vertical-graph-wrapper{
    position: relative;
    overflow: hidden;
}

.pln-adhension-index-chart{
    position: relative;
    z-index: 10;
    color: #000;
    text-align: center;
}

.pln-adhension-vertical-graph{
    position: absolute;
    bottom: 0;
    background-color: #b5e2fa;
    width: 100%;
    -webkit-animation-name: vertical-graph;
    -webkit-animation-duration: 4s;
    animation-name: vertical-graph;
    animation-duration: 4s;
}
@-webkit-keyframes vertical-graph {
    0%   {height: 0;}
  }
@keyframes vertical-graph {
    0%   {height: 0;}
}

.pln-analise-geral {        
    margin-left: 5px;
    font-size: 12px;   
}

.pln-bordertop-col {
    border-top: 1px solid #3e4b5b;
}

.pln-min-height-modal-dashboard-l1 {
    min-height: 338px;
}

.pln-min-height-modal-dashboard-l2 {
    min-height: 328px;
}

.pln-min-height-modal-dashboard-l3 {
    min-height: 328px;
}

.pln-arrow-up {
    color: #66bd2b;
}
.pln-urgency-tooltip-chart{
    min-width: 300px;
}
.pln-urgency-tooltip-color{
    color: #FF8C8C;
}
.pnl-btn-white {
    color: #FFF !important;
}
.pnl-btn-white:hover {
    color: #FFF !important;
}
.pnl-siglas {
    width: 0;
    height: 0;
    margin-left: 0.255em;
    content: "";
    border: 0.3em solid #FFF;
    color: #F96737;
    background-color: #FFF;
    border-radius: 3px;
}
.pnl-logged-user-w {
    padding: 0px !important;
}