:root {
    --red: #C7390B;
    --orange: #F96737;
}


:-webkit-full-screen {
    background-color: white;
}

/* Firefox syntax */
:-moz-full-screen {
    background-color: white;
}

/* IE/Edge syntax */
:-ms-fullscreen {
    background-color: white;
}

/* Standard syntax */
:fullscreen {
    background-color: white;
}

a {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #00A2AD;
}
a:hover{
    color: #066d74;
}

.form-control{
    border: 1px solid #ccc;
    height: 30px;
}
/*rewrite elements of template*/
.element-box-full {
    padding: 0rem 0rem;
    margin-bottom: 0rem;
    border-radius: 0px;
     background-color: transparent;
}
.content-full-table .element-wrapper {
    padding-bottom: 0rem;
}

body.full-screen .all-wrapper {
    min-height: 100vh;
}
/*rewrite elements end*/

table {
    font-size: 0.8rem !important;
}

.pln-tr-approved {
    color: #5DB324;
    font-weight: bold;
}

.pln-tr-analised td {
    opacity: 0.5;
    border-top: 1px solid rgba(83, 101, 140, 0.83);
}

.pln-tr-analised td:nth-child(1) {
    border-top: 1px solid rgba(83, 101, 140, 0.33);
}

.pln-tr-analised td:nth-child(2) {
    border-top: 1px solid rgba(83, 101, 140, 0.33);
}

.pln-tr-normal {
    font-weight: bold;
    color: #333333;
}

.pln-td-mw-50 {
    max-width: 50px;
}

.pln-td-mw-100 {
    max-width: 100px;
}

.pln-td-mw-200 {
    max-width: 200px;
}

.pln-td-mw-500 {
    max-width: 500px;
}
.pln-column-obs {
    min-width: 200px !important;
}

.overlay {
    visibility: hidden;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.5);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.filter-blur {
    filter: blur(2.5px);
}

.layout-w {
    min-height: 100vh;
}

body {
    font-family: 'Lato', sans-serif;
}

#menu-retratil {
    position: absolute;
    z-index: 1000;
    padding-top: 55px;
    margin-left: -300px;
    height: 100%;
}

.menu-w ul.main-menu > li > a {
    max-width: 190px;
    min-width: 190px;
}

.menu-w ul.sub-menu li a:hover:before {
    background-color: #00A2AD;
    border-color: #00A2AD;
}
.menu-w ul.sub-menu li a:before {
    border: 1px solid #00A2AD;
}
.pln-menu-bars{
    font-size: 16px;
}

.content-w {
    background-color: #eaebef;
}
.content-w > .top-bar{
  padding-right: 0px;
}
.pln-content-scroll {
    max-height: 160px;
    overflow: auto;
    overflow-x: hidden;
}
.pln-remove-scroll {
    overflow: hidden;
}
.pln-textarea-resize{
    resize: both;
}
.pln-link-decoration-none {
    color: #333333;
}

.pln-font-color {
    color: #292c39;
}

.pln-box-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}

.pln-invi {
    display: none;
}

.pln-invalid-field {
    border: 1px solid #ff0000 !important;
}

.pln-td-w100 {
    width: 100px;
}

.pln-cur-pointer {
    cursor: pointer;
}

.pln-icon-color {
    color: #F96737;
}

.pln-text-orange {
    color: #F96737;
}

.pln-background-orange {
    z-index: 1001;
    background-color: #F96737;
}

.pln-btn-orange{
    background-color: #F96737;
    color: #FFFFFF;
    border: 2px solid #F96737;
}
.pln-btn-orange:hover{
    background-color: #E04310;
    color: #FFFFFF;
    border: 2px solid #E04310;
}
.pln-btn-orange:focus{
    background-color: #E04310;
    color: #FFFFFF;
}
.pln-btn-orange:active{
    background-color: #C7390B;
    border: 2px solid #C7390B;
}
.pln-btn-orange:hover i,
.pln-btn-orange:focus i,
.pln-btn-orange:active i
{
    color: #FFFFFF;
}
.pln-btn-orange:disabled,
.pln-btn-orange:disabled:hover{
    background-color: #DDDDDD;
    color: #888888;
    border-color: #DDDDDD;
}
.pln-btn-orange:disabled i{
    color: #888888;
    pointer-events: none;
}

.element-wrapper .element-header:after {
    background-color: #F96737;
}

#open_menu {
    color: #fff;
    z-index: 100;
}

.pln-logo-menu {
    padding: 1rem 0 0.4rem 1.5rem;
    border-bottom: 1px solid #0000000d;
}

.pln-link-color {
    color: #00A2AD;
}

.swal-button--cancel {
    color: #00A2AD;
}

.pln-link-color:hover {
    color: #066d74;
}

.pln-code-view {
    color: #878787;
}

fieldset legend {
    color: #F96737;
}

.pln-content fieldset, .pln-skuform fieldset {
    margin-top: 0;
}

.pln-margin-auto {
    margin-left: auto;
}

.pln-content fieldset legend, .pln-skuform fieldset legend {
    margin-bottom: 15px;
}

.pln-content-scroll::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

.pln-content-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #F4F4F4;
}

.pln-content-scroll::-webkit-scrollbar-thumb {
    background: #F96737;
}

#div_order div, .div_order_top div {
    border: 1px solid #dcdcdc;
    padding: 1px 0 0 2px;
    cursor: move;
}

#div_order div.selected {
    background-color: #ffffcc
}

#div_exibition div {
    cursor: move;
}

#div_exibition div label {
    cursor: move;
}

#div_exibition div.selected {
    background-color: #ffffcc
}


.pln-danger {
    color: #FF0000;
}

.pln-order-blue {
    color: #00A2AD;
}

.pln-order-checkbox {
    color: #CCCCCC;
}

.pln-order-checkbox-on {
    color: #000000 !important;
}

.pln-font-smaller {
    font-size: smaller;
}

.pln-bold-600 {
    font-weight: 600;
}

.pln-bold-700 {
    font-weight: 700;
}

.pln-input-60 {
    width: 60px;
}

.pln-pagination {
    margin: 0;
}
.text-black{
  color: #000;
}

.pln-pagination .fas {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-size: 9px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.pln-pagination .page-link {
    color: #00A2AD;
}

.pln-pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #00A2AD;
    border-color: #00A2AD;
}

.pln-row-selected {
    background-color: #DAEFFA !important;
}

.pln-critico {
    color: red;
}

.pln-pipe:before {
    content: "|"
}

.pln-font-xxlarge {
    font-size: xx-large;
}

.pln-font-xlarge {
    font-size: x-large;
}

.min-box-height-l1 {
    min-height: 235px;
    max-height: 300px;
}

.pln-sugg-min-box-height-l1 {
    min-height: 250px;
    max-height: 300px;
}

.pln-ordemcompra-min-box-height-l1 {
    min-height: 288px;
    height: calc(100% - 1rem);
}

.pln-capapedido-min-box-height-l1 {
    min-height: 288px;
    max-height: 300px;
}

.pln-sku-min-box-height-l1 {
    min-height: 250px;
    max-height: 300px;
}

.min-box-height-parametros {
    min-height: 287px;
    max-height: 300px;
}

.min-box-height-sku {
    min-height: 307px;
}

.min-box-height-l2 {
    min-height: 303px;
}

.min-box-height-l4 {
    min-height: 290px;
}

.min-box-height-l5 {

    min-height: 296px;
}

.icon-top-menu-in-out {
    display: flex;
    justify-content: start;
}

.buscar-bar-filter {
    background-color: #e4e2e2;
}

.buscar-bar-font-link-back {
    font-size: 25px
}

.buscar-bar {
    background-color: #eaeaea
}

.pln-select-filter-size {
    max-width: 150px;
    min-width: 150px;
}

canvas {
    width: 100% !important;
    max-width: 100%;
    height: auto !important;
}

/*css to table with horizontal scroll and white thead/tfoot*/
.bigger-table thead, table tfoot{
    color: #333;
}

.bigger-table thead th{
    border-bottom: 1px solid rgba(0,0,0,0.2) !important;
}

.bigger-table tfoot th {
    border-top: 1px solid rgba(0,0,0,0.2) !important;
}

#erp-select{
    width: auto;
    text-transform: uppercase;
}

.erp_table #controlSize{
    overflow: auto;
}
/*********************************************************/

#controlSize::-webkit-scrollbar-thumb {
    background: #F96737;
}

#controlSize::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

#controlSize::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #F4F4F4;
}

.content-full-table #controlSize {
    max-height: calc(100vh - 200px); /*185 + 86*/
    margin-top: 6px;
    overflow: scroll;
    width: calc(100vw);
}

.table-log table td {
    vertical-align: top !important;
}

pre {
    background: #161616;
    color: white;
    tab-size: 4;
    padding: 20px;
    font-family: 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback';
    overflow-x: auto;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.img-logo{
  position: absolute;
  padding: 0;
  width: 100%;
  z-index: 5;
}
.top-menu-controls {
  z-index: 110;
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #F96737;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
}

.mr-40 {
    margin-right: 40px;
}

.w-100p {
    width: 100% !important;
}

.c-62666b {
    color: #62666b !important;
}

.bb-62666b {
    border-bottom: 1px solid #62666b;
}

.li-type-disabled {
    list-style-type: none;
}

.max-width-28 {
    max-width: 28%;
}

.pt-20 {
    padding-top: 0.20rem;
}

.pb-20 {
    padding-bottom: 0.20rem;
}

.pt-50 {
    padding-top: 0.50rem;
}

.pb-50 {
    padding-bottom: 0.50rem;
}

#policy_load_part_1, #policy_load_part_2 {
    display: none !important;
}

.title-header {
    margin-left: 15px;
}

table.dataTable thead th,
table.dataTable tbody td,
table.dataTable tfoot th{
    white-space: nowrap;
    text-align: left;
}
table.dataTable thead th,
table.dataTable tfoot th, 
table.dataTable tfoot td{
    padding: 10px;
}

.pln-tooltip-box{
    min-width: 190px;
}

.h100 {
    height: 100%;
}

.overflow-hidden{
    overflow: hidden;
}

.btn.pln-btn-primary,
.btn.btn-outline-danger,
.btn.pln-btn-orange,
.btn.pln-btn-ghost,
.pln-btn {
    padding: 5px 10px;
    font-size: 14px;
    height: 30px;
    line-height: 20px;
}
/*Btn Primary*/
.pln-btn-primary{
    background-color: #F96737;
    color: #FFFFFF;
    border: 2px solid #F96737;
}
.pln-btn-primary:hover{
    background-color: #E04310;
    color: #FFFFFF;
    border: 2px solid #E04310;
}
.pln-btn-primary:focus{
    background-color: #E04310;
    color: #FFFFFF;
}
.pln-btn-primary:active{
    background-color: #C7390B;
    border: 2px solid #C7390B;
}
.pln-btn-primary:hover i,
.pln-btn-primary:focus i,
.pln-btn-primary:active i
{
    color: #FFFFFF;
}
.pln-btn-primary:disabled,
.pln-btn-primary:disabled:hover{
    background-color: #DDDDDD;
    color: #888888;
    border-color: #DDDDDD;
}
.pln-btn-primary:disabled i{
    color: #888888;
    pointer-events: none;
}

/*Btn Ghost*/
.pln-btn-ghost,
.btn-outline-danger{
    background-color: #FFFFFF;
    color: #F96737;
    border: 1px solid #F96737;
}
.pln-btn-ghost:focus,
.btn-outline-danger:focus{
    background-color: #FFFFFF;
    color: #F96737;
    border: 1px solid #F96737;
}
.pln-btn-ghost:active,
.btn-outline-danger:active{
    color: #FFFFFF;
    background-color: #C7390B !important;
    border: 1px solid #C7390B;
}
.pln-btn-ghost:hover,
.btn-outline-danger:hover{
    background-color: #F96737;
    color: #FFFFFF;
    border: 1px solid #F96737;
}
.pln-btn-ghost i,
.btn-outline-danger i{
    color: #F96737;
}
.pln-btn-ghost:focus i,
.btn-outline-danger:focus i{
    color: #F96737;
}
.pln-btn-ghost:active i,
.btn-outline-danger:active i,
.pln-btn-ghost:hover i,
.btn-outline-danger:hover i{
    color: #FFFFFF;
}
.pln-btn-ghost:disabled,
.pln-btn-ghost:disabled:hover,
.btn-outline-danger:disabled,
.btn-outline-danger:disabled:hover{
    background-color: #FFFFFF;
    color: #888888;
    border-color: #888888;
}
.pln-btn-ghost:disabled i,
.btn-outline-danger:disabled i{
    color: #888888;
    pointer-events: none;
}

/*CSS para novo laoder*/
.pln-loader-screen-size{
    width: 100vw;
    height: 100vh;
}
.pln-overlay{
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
    position: fixed;
    z-index: 10;
}
.loader-container{
    width: 95px;
    margin: auto;
}
.loader-style{
    shape-rendering: geometricprecision;
    width: 95px;
    height: 50px;
    justify-content: space-between;
}
.bar-style {
    animation: bar-animation 1.0s ease-in-out infinite;
    -webkit-animation: bar-animation 1.0s ease-in-out infinite;
    -moz-animation: bar-animation 1.0s ease-in-out infinite;
    -o-animation: bar-animation 1.0s ease-in-out infinite;
    background-color: #F96737;
    width: 15px;
    height: 0;
}
.bar-1{
    animation-delay: 0s;
}
.bar-2{
    animation-delay: 0.1s;
}
.bar-3{
    animation-delay: 0.2s;
}
.bar-4{
    animation-delay: 0.3s;
}
.bar-5{
    animation-delay: 0.4s;
}
.pnl-logged-user-w {
    padding: 0px !important;
}
.dropdown-toggle::after{
    display: none;
}
.dropdown > .pln-drop-down-menu {
    top: 8px !important;
    left: 5px !important;
}
.dropdown-item.active, 
.dropdown-item:active{
    background-color: #e6e6e6;
}
.btn-dropdown:hover{
    color: #fff;
}
.btn-dropdown{
    background-color: #F96737;
    border-color: #F96737;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}
.btn-dropdown>span{
    background: #fff;
    color: #F96737;
    border-radius: 3px;
    padding: 5px;
    font-size: 12px;
}
.pln-drop-down-menu{
    width: 250px;
    border-radius: 0px;
    border: 0;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
}
.pln-dropdown-list {
    max-height: 76px;
    overflow-x: hidden;
    overflow-y: auto;
}
.pln-dropdown-list::-webkit-scrollbar-thumb {
    background: #F96737;
}

.pln-dropdown-list::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.pln-dropdown-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #F4F4F4;
}
.pln-dropdown-item{
    position: relative;
    border-left: 4px solid rgba(0,0,0,0);
    border-bottom: 1px solid #ececec;
    padding: 18px 15px;
    white-space: normal;
}
.pln-dropdown-item.active, .pln-dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #FFF;
}
.pln-dropdown-item p{
    font-size: 12px;
    color: #333;
    margin: 0;
    font-weight: bold;
}
.pln-dropdown-item small{
    color: #333;
    font-size: 12px;
}
.dropdown-item-active{
    border-left: 4px solid #F96737;
    background-color: #fff;
}
.pln-drop-down-menu >.pln-dropdown-item:last-child,
.pln-drop-down-menu > .pln-dropdown-item:last-child:hover{
    padding: 10px;
    border: none;
    background-color: #fff;
    cursor: initial;
}

.pln-more-options{
    background-color: #eaebef;
    color: #888888;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.pln-more-options:hover{
    background-color: #BBBBBB;
    color: #000;
}
.pln-text-color-primary{
    color: #F96737;
}
.pln-text-color-primary:hover{
    color: #E04310;
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}

.modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
}

.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}

.modal-dialog-scrollable .modal-content {
    height: calc(100vh - 2rem);
    max-height: calc(100vh - 2rem);
    overflow: hidden;
}

.modal-dialog-scrollable .modal-footer, 
.modal-dialog-scrollable .modal-header {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.pln-close-modal{
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 100;
    font-size: 18px;
}

.badge.badge-pln{
    background-color: #DDDDDD;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px 3px 10px;
}

.pln-modal-title{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 230px;
}

.pln-modal-header{
    z-index: 100;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}
.pln-modal-footer{
    z-index: 100;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.1);
}
.pln-modal-text-small{
    font-size: 12px;
}

.pln-text-details{
    text-transform: uppercase;
    color: #888888;
}
.nav.smaller.nav-tabs .nav-link.pln-modal-tab{
    padding: 0.5em 1.1em;
}

.nav-tabs .nav-link.pln-modal-tab{
    background-color: #fff;
    color: #3EBADE;
    border-bottom: 2px solid #fff;
    text-transform: uppercase;
}

.nav-tabs .nav-link.pln-modal-tab:hover, 
.nav-tabs .nav-item:hover .nav-link.pln-modal-tab{
    background-color: #fff;
    color: #F96737;
    border-bottom: 2px solid #F96737 ;
}

.nav-tabs .nav-link.pln-modal-tab.active{
    background-color: #fff;
    color: #F96737;
    border-bottom: 2px solid #F96737;
}

.nav-tabs .nav-link.pln-modal-tab:after, 
.nav-tabs .nav-item .nav-link.pln-modal-tab:after{
    height: 0;
    bottom: 0;
}
.control-size-table-modal{
    max-height: calc(100vh - 350px);
    max-height: -webkit-calc(100vh - 350px);
    max-height: -moz-calc(100vh - 350px);
    overflow: auto;
    width: calc(100vw - 110px);
    width: -webkit-calc(100vw - 110px);
    width: -moz-calc(100vw - 110px);
}
.pln-more-options{
    background-color: #eaebef;
    color: #333333;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.pln-more-options:hover{
    background-color: #BBBBBB;
    color: #000;
}
.pln-text-color-primary{
    color: #F96737;
}
.pln-text-color-primary:hover{
    color: #E04310;
}
.background-max-color{
    background-color: #C77700;
    font-weight: 700; 
    font-size: medium;
}
.background-min-color{
    background-color: #B31212;
    font-weight: 700; 
    font-size: medium;
}
.pln-text-label-small{
    font-size: 12px;
    color: #888888;
}
.stock-value-chart-height{
    height: 320px;
}
.stock-value-label-width{
    width: calc(100% - 70px);
    width: -webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
}
.font-weight-bold-700 {
    font-weight: 700 !important;
}
.pln-text-min-color{
    color: #B31212;
}

.pln-text-max-color{
    color: #C77700;
}

.pln-text-ideal-color{
    color: #5DB324;
}
.pln-text-dark{
  color: #333333;
}
input.form-control[type='checkbox'] {
    height: initial;
}

.fa-sort-asc:before {
    content: "\f0de";
}

.fa-sort-desc:before {
    content: "\f0dd";
}
.pln-small-line-height{
  line-height: 13px;
}
.bg-grey{
  background-color: #888888;
}
.text-grey{
  color: #888888;
}
.pln-custom-tooltip .pln-tooltip {
  position: relative;
  display: inline-block;
}

.pln-custom-tooltip .pln-tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  min-width: 175px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0;
  border-radius: 6px;
  position: absolute;
  z-index: 20;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  font-size: 12px;
  bottom: -55px;
  right: 0;
}

.pln-custom-tooltip .pln-tooltip .tooltiptext .tooltip-title{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1px 15px;

}

.pln-custom-tooltip .pln-tooltip .tooltiptext .tooltip-body{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #fff;
  color: #333333;
  padding-top: 2px;
}

.pln-custom-tooltip .pln-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.cmd-value{
  font-size: 14px;
  font-weight: bold;
}
.cmd-days{
  font-size: 10px;
  font-weight: normal;
}

.pln-tr-analised td.pln-custom-tooltip {
  opacity: 1;
  border-top: 1px solid rgba(83, 101, 140, 0.33);
}
.pln-tr-analised td .pln-tooltip .td-data{
  opacity: 0.5;
}

.pln-container-checkbox input:checked:disabled ~ .pln-orange-checkbox {
  border-color: #DDDDDD;
  background-color: #DDDDDD;
}

.pln-container-checkbox input:disabled ~ .pln-orange-checkbox {
  border-color: #DDDDDD;
}


@keyframes bar-animation {
    0% { height: 10px; }
    50% { height: 50px; }
    100% { height: 10px; }
}
@-webkit-keyframes bar-animation {
    0% { height: 10px; }
    50% { height: 50px; }
    100% { height: 10px; }
}
@-moz-keyframes bar-animation {
    0% { height: 10px; }
    50% { height: 50px; }
    100% { height: 10px; }
}
@-o-keyframes bar-animation {
    0% { height: 10px; }
    50% { height: 50px; }
    100% { height: 10px; }
}
/*FIM CSS para novo loader*/

@media (min-width: 992px) {
    .modal-lg {
        max-width: 98%;;
    }
}

@media only screen and (max-width: 1024px) {
    .top-menu-controls .img-logo {
        padding: 0px 20rem;
    }
    .menu-w {
        display: block !important;
    }

}

@media only screen and (max-width: 600px) {
    .icon-top-menu-in-out {
        display: none;
    }
}
